<a href="https://colab.research.google.com/github/arribas7/test_colab/blob/main/110_exercise_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
revenue = 10000
tax = 0.19
income = revenue * tax
income

1900.0

In [3]:
np.random.rand?

An ordered list:
1. One
2. Two
3. Three

An unordered list
* One
* Two
*Three

Examples of *markdown*

Examples of **markdown**

Examples of _markdown_

Examples of 'markdown'

[Google](https://www.google.com/)
![Python]()

$y=x^25$

$\frac(1)(n) \sum(i=1)^(n)$

$A = \begin{pmatrix}
a_{1,1} & a_{1,2} \\
a_{1,1} & a_{1,2}
\end{pmatrix}$

 Col1 | Col2 | Col3 
  --- | --- | --- 
 val1 | val2 | val3

In [4]:
import sys
 
 
print(sys.version.split()[0])

3.7.13

In [5]:
import sqlite3
  
 
print(sqlite3.version)

2.6.0

Welcome to the Project - E-learning platform section!



In this part, we will build a simple database that will support the e-learning platform. For the purposes of this exercise, let's name it "esmartdata". What are we going to need? What tables do we need to create? What kind of relationships to use?



Ultimately, our database will consist of four tables:

Exercise 1
Using the built-in sqlite3 package, create SQLite database named 'esmartdata.sqlite3'.



Then create a table in this database called "esmartdata_instructor" with the following columns (column name - data type):

id - integer

first_name - text

last_name - text

description - text

In [6]:

import sqlite3
 
 
conn = sqlite3.connect('esmartdata.sqlite3')
cur = conn.cursor()
 
cur.executescript('''DROP TABLE IF EXISTS "esmartdata_instructor";
CREATE TABLE IF NOT EXISTS "esmartdata_instructor" (
  "id" integer NOT NULL,
  "first_name" text NOT NULL,
  "last_name" text NOT NULL,
  "description" text NOT NULL,
  PRIMARY KEY("id" AUTOINCREMENT)
);''')
 
conn.commit()
conn.close()

In [7]:
import sqlite3

conn = sqlite3.connect('esmartdata.sqlite3')
cur = conn.cursor()

cur.execute('''DROP TABLE IF EXISTS "esmardata_instructor"''')
cur.execute('''CREATE TABLE IF NOT EXISTS "esmartdata_instructor" (
  "id" integer NOT NULL,
  "first_name" text NOT NULL,
  "last_name" text NOT NULL,
  PRIMARY KEY("id" AUTOINCREMENT) 
)''')


conn.commit()
conn.close()

**Exercise 6**

Using the built-in sqlite3 package, SQLite database called 'esmartdata.sqlite3' was prepared, which contains the following tables:

"esmartdata_instructor"

"esmartdata_course"



Create an index named "esmartdata_course_instructor_id_idx" for the column instructor_id of the table "esmartdata_course". Before creating the index, use the appropriate SQL command that will remove the "esmartdata_course_instructor_id_idx" index if it already exists in the database.



Commit the changes and close the database connection.

In [10]:

import sqlite3


conn = sqlite3.connect('esmartdata.sqlite3') #Connect to database
cur = conn.cursor()

cur.executescript('''DROP TABLE IF EXISTS "esmartdata_instructor";
CREATE TABLE IF NOT EXISTS "esmartdata_instructor" (
  "id" integer NOT NULL,
  "first_name" text NOT NULL,
  "last_name" text NOT NULL,
  "description" text NOT NULL,
  PRIMARY KEY("id" AUTOINCREMENT)
);

DROP TABLE IF EXISTS "esmartdata_course";
CREATE TABLE IF NOT EXISTS "esmartdata_course" (
  "id" integer NOT NULL,
  "title" text NOT NULL,
  "subtitle" text NOT NULL,
  "description" text NOT NULL,
  "category" text NOT NULL,
  "subcategory" text NOT NULL,
  "language" text NOT NULL,
  "length" text NOT NULL,
  "rating" real NOT NULL,
  "referral_link" text NOT NULL,
  "instructor_id" integer NOT NULL,
  PRIMARY KEY("id" AUTOINCREMENT),
  FOREIGN KEY("instructor_id") REFERENCES "esmartdata_instructor"("id")
  ON DELETE CASCADE ON UPDATE CASCADE
);

INSERT INTO
  "esmartdata_instructor" ("id", "first_name", "last_name", "description")
VALUES
  (
    1,
    "Pawel",
    "Krakowiak",
    "Data Scientist/Python Developer/Securities Broker"
  );

INSERT INTO
  "esmartdata_instructor" ("id", "first_name", "last_name", "description")
VALUES
  (
    2,
    "takeITeasy",
    "Academy",
    "Akademia Programowania"
  );''')

with open('load_esmartdata_course.sql', 'r', encoding='utf-8') as file:
    sql = file.read()

cur.executescript(sql)

# Enter your solution here
cur.execute('''DROP INDEX IF EXISTS 
"esmartdata_course_instructor_id_idx"''')

cur.execute('''CREATE INDEX IF NOT EXISTS 
"esmartdata_course_instructor_id_idx" 
ON "esmartdata_course" ("instructor_id")''')

conn.commit()
conn.close()

FileNotFoundError: ignored

**Exercise 7**

Using the built-in sqlite3 package, SQLite database called 'esmartdata.sqlite3' was prepared, which contains the following tables:

"esmartdata_instructor"

"esmartdata_course"



Create a query that extracts all course names from the "esmartdata_course" table (title column) and print it to the console as shown below.

In [ ]:
import sqlite3


conn = sqlite3.connect('esmartdata.sqlite3')
cur = conn.cursor()

cur.executescript('''DROP TABLE IF EXISTS "esmartdata_instructor";
CREATE TABLE IF NOT EXISTS "esmartdata_instructor" (
  "id" integer NOT NULL,
  "first_name" text NOT NULL,
  "last_name" text NOT NULL,
  "description" text NOT NULL,
  PRIMARY KEY("id" AUTOINCREMENT)
);

DROP TABLE IF EXISTS "esmartdata_course";
CREATE TABLE IF NOT EXISTS "esmartdata_course" (
  "id" integer NOT NULL,
  "title" text NOT NULL,
  "subtitle" text NOT NULL,
  "description" text NOT NULL,
  "category" text NOT NULL,
  "subcategory" text NOT NULL,
  "language" text NOT NULL,
  "length" text NOT NULL,
  "rating" real NOT NULL,
  "referral_link" text NOT NULL,
  "instructor_id" integer NOT NULL,
  PRIMARY KEY("id" AUTOINCREMENT),
  FOREIGN KEY("instructor_id") REFERENCES "esmartdata_instructor"("id")
  ON DELETE CASCADE ON UPDATE CASCADE
);

INSERT INTO
  "esmartdata_instructor" ("id", "first_name", "last_name", "description")
VALUES
  (
    1,
    "Pawel",
    "Krakowiak",
    "Data Scientist/Python Developer/Securities Broker"
  );

INSERT INTO
  "esmartdata_instructor" ("id", "first_name", "last_name", "description")
VALUES
  (
    2,
    "takeITeasy",
    "Academy",
    "Akademia Programowania"
  );''')

with open('load_esmartdata_course.sql', 'r', encoding='utf-8') as file:
    sql = file.read()

cur.executescript(sql)

cur.execute('''DROP INDEX IF EXISTS "esmartdata_course_instructor_id_idx"''')
cur.execute('''CREATE INDEX IF NOT EXISTS "esmartdata_course_instructor_id_idx" 
ON "esmartdata_course" ("instructor_id")''')

conn.commit()

# Enter your solution here
cur.execute('''SELECT "title" FROM "esmartdata_course"''')

for row in cur.fetchall():
    print(row[0])


conn.close()